#leadlink a:link, #leadlink a:visited{
    display: block;
    background-color:#1a6570;
    z-index:2000;  
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width:15%;
    margin:auto;
}

#leadlink a:hover, #leadlink a:active {
  background-color: green;
}